@font-face {
  font-family: "EverettBlack";
  src: url("/assets/fonts/Everett/TWKEverett-Black-web.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EverettBold";
  src: url("/assets/fonts/Everett/TWKEverett-Bold-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EverettBoldItalic";
  src: url("/assets/fonts/Everett/TWKEverett-BoldItalic-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Everett";
  src: url("/assets/fonts/Everett/TWKEverett-Regular-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EverettLight";
  src: url("/assets/fonts/Everett/TWKEverett-UltralightItalic-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EverettItalic";
  src: url("/assets/fonts/Everett/TWKEverett-RegularItalic-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}